[2016-10-12 18:25] wilsoncai1992 opened #1 "estimate when no censoring in data"
When I try to run hazard estimation using the command

[code]

using the data

[code]

I get

[code]

[2016-10-12 19:04] #1 closed, assigned to nobody

[2016-10-12 19:05] wilsoncai1992 commented on #1
[code]

[2016-10-13 07:12] wilsoncai1992 commented on #1
Thank you David for your timely help!

[2016-11-02 18:51] nhejazi opened #2 "survtmle update breaks getVE"
A recent update of survtmle (commits that fixed an existing error, around 65a4bb5), introduced an error into the `getVE` convenience function included in the [sieveml](https://github.com/benkeser/sieveml) repo.

After estimation of an object `tmle.fit` using `survtmle`, `getVE` returns the following error:

[code]

[2016-11-02 18:56] benkeser commented on #2
Hi Nima,

What is the output `print(tmle.object)`?

[2016-11-02 19:10] nhejazi commented on #2
I should have noted above that this is just applying `survtmle` to the `rv144` data set, as in one of the standard examples (possibly from the documentation).

The output of `print(tmle.fit)` is as follows:

[code]

[2016-11-02 19:19] benkeser commented on #2
Does calling `getVE(list(tmle.fit))` fix the problem?

I haven't added any checks to `getVE`, which is why it's not included in `survtmle` yet -- it needs to be written for more general usage.

[2016-11-02 19:21] nhejazi commented on #2
Use of `getVE(list(tmle.fit))` returns output `NULL`, so at least the error goes away...

Since `getVE` is not yet fit for general usage, it's likely worth just keeping the current error in mind until the time comes to re-write the function for inclusion in the `survtmle` package.

[2016-11-02 19:34] #2 closed, assigned to nobody

[2017-03-15 18:45] nhejazi opened #4 "Software tool manuscript"
After `survtmle` reaches stability (e.g., ready for submission to CRAN), it would be beneficial to put together a paper describing the software and the underlying statistical methodology made available by this implementation.

Possible choices of journals:
* [Journal of Open Source Software](http://joss.theoj.org/)
* [Journal of Statistical Software](https://www.jstatsoft.org/index)

[2017-04-19 23:48] nhejazi opened #5 "Adding plotting utilities"
It's best to add plotting functions directly to `survtmle`, rather than having users produce their own plots. We'll use the standard plots for sieve analysis, for which code appears in the [`sieveml` repo](https://github.com/benkeser/sieveml).

It's best to port this code to `ggplot2`, both to have higher quality plots and to allow users to easily customize plots.

[2017-04-19 23:49] nhejazi commented on #5
__code for plot layout setup:__ (can ignore when writing `ggplot` version)

[code]

[2017-04-19 23:50] nhejazi commented on #5
__cumulative incidence plots:__

[code]

...I think we have these as of 84bae66

[2017-04-19 23:51] nhejazi commented on #5
__vaccine efficacy plots:__

[code]

[2017-04-19 23:51] nhejazi commented on #5
__sieve effect plot:__

[code]

[2017-05-26 18:49] benkeser opened #7 "README"
Add some examples to the README

[2017-05-26 18:54] benkeser commented on #5
A couple plot functions that would be good to have --

plot.timepoints
plotting method for timepoints object that would produce a plot of an incidence or a survival curve, i.e., 1 - incidence (as an option) for each trt level and each ftype (or a specified subset of them as an option) over time, with/without pointwise confidence intervals (as an option). An additional option to make a J panel plot

[2017-05-26 19:00] benkeser opened #8 "Unit tests that will be useful"
10 unit tests/things off the top of my head to check

~~1. I need to remind myself how makeDataList constructs the "time" column when there aren't failures at every time point.~~
The function now handles this case properly.

~~2. What happens when there are no events at t0?~~
 - ~~no events at all~~
 - ~~no events of one failure type~~
 - ~~no events in one trt arm~~
The function stops and request

[2017-05-26 19:00] #4 closed, assigned to nhejazi, benkeser

[2017-05-29 01:30] nhejazi commented on #7
random thoughts on this:
* copy some examples from package vignette
* should include calls to the most-used user-facing functions
* move from `README.md` to `README.Rmd` to ensure example reproducibility

[2017-07-03 19:24] nhejazi opened #9 "broken examples"
Recent updates in the structure of package internals have caused the examples to break -- currently, `devtools::check()` exits with the following broken example:

[code]

[2017-07-03 19:48] nhejazi commented on #9
The above was fixed by aa2d037.

[2017-07-03 19:48] nhejazi commented on #9
Another error persists:

[code]

[2017-07-03 23:12] nhejazi commented on #9
The above error was fixed by b7b3ccf.

Closing for now -- builds passing on Travis-CI and Appveyor.

[2017-07-03 23:13] #9 closed, assigned to benkeser

[2017-07-05 17:25] benkeser commented on #5
[code]

Everything below this should be in `plot.tp.survtmle`...
[code]
n.b., use of "100" is from call to "t0" in `survtmle`, not "n" -- should be able to draw this from the `call` object that ought to be stored in the `survtmle` object

[2017-07-05 18:35] benkeser opened #10 "Add confint method"

[2017-07-05 18:35] benkeser opened #11 "Add checks on bounds input"

[2017-07-06 00:30] nhejazi opened #12 "print method for class tp.survtmle"
It looks like the output for the class `tp.survtmle`, produced after a call to `timepoints` on an object created by the main `survtmle` function is a list of the point estimates and variance for the (two) groups at each time point considered.

This is rather hard to read, and a little overwhelming when the `tp.survtmle` object is simply examined. It appears that this could be organized into a `dat

[2017-07-06 00:37] benkeser commented on #12
Actually the output is a list of survtmle objects, which, when printed, show the estimates and (co-)variance estimates. I agree a print method would be good. Maybe we want to emulate what the print method for `cuminc` function in `cmprsk` package?

[code]

[2017-07-06 00:39] #11 closed, assigned to nobody

[2017-07-06 00:43] nhejazi commented on #12
Got it. Thanks for pointing that out so quickly.

I like the idea of copying what `cmprsk::cuminc` does (or rather, their `print` method), since this might make the end-user comfortable with what the output looks like if they're already used to "standard" packages that provide cumulative incidence estimates.

[2017-07-06 00:45] benkeser commented on #12
Agreed. I've modeled a lot of the structure and syntax around `cmprsk` so it makes sense to print things similarly too. Think you can handle cooking up a `print.timepoints` method?

[2017-07-06 00:47] nhejazi commented on #12
Definitely, I'll take care of it.

[2017-07-06 00:54] #10 closed, assigned to nobody

[2017-07-06 00:59] nhejazi commented on #10
Completed by 61d47c5.

[2017-07-06 00:59] nhejazi commented on #8
Re-opening so that we can use this list as a reference when fleshing out simple unit tests in the near future. We should shoot for ~50% coverage prior to CRAN submission.

[2017-07-06 02:25] nhejazi commented on #5
New plotting function for class `tp.survtmle` produces this for "raw" estimates (without isotonic regression to induce monotonicity):
<img width="741" alt="plot_timepoints-raw" src="https://user-images.githubusercontent.com/8527276/27892988-9a652ad8-61b7-11e7-89ec-abb751dde980.png">

...And here's the "smoothed" version, after the call to `stats::isoreg`:
<img width="743" alt="plot_timepoints-smoo

[2017-07-06 02:28] benkeser commented on #5
Looks great! We don't really expect large differences -- asymptotically the estimates are the same. The isotonic regression just gives it a more familiar look to applied practitioners.

[2017-07-06 02:33] nhejazi commented on #5
Thanks!

Got it -- that makes total sense. Though I definitely couldn't tell the difference between them for a while, had to run the two data frames through `all.equal` to make sure there actually was a difference...

[2017-07-06 02:42] nhejazi commented on #7
we can now add examples to `README.Rmd` if so desired.

for developers: it's important to run `devtools::use_readme_rmd()` after freshly cloning the package, or if you have not done so before

also, the conversion from `README.Rmd` to `README.md` should be easy to do with the `make md` recipe in `Makefile`.

[2017-07-06 02:42] benkeser opened #13 "development branch"
Once we reach a stable build that we're happy with, does it make sense to fast-forward the development branch to that point?

I think it'd then be a good idea to move a few functions over to the development branch (e.g., the cv_ functions and bin_ftime, as those are still in the works.

[2017-07-06 02:46] nhejazi commented on #13
Definitely. As long as we won't be touching the `.R` files associated with those functions, I can fast-forward the development branch and then move them there.

Then, as we continue to make changes to the "stable" build on `master`, we can continue to just update that development branch (and it'll still be ahead, from the commits that added the cv_functions and bin_ftime), returning to it to work

[2017-07-06 02:48] nhejazi commented on #8
Wow -- between the tests added in 2e56f07 and c0cdbcc, we already have >60% coverage!

[2017-07-06 02:52] benkeser commented on #8
Yeah, not sure that they're exactly what Hadley had in mind for unit tests... They're rather big calls to survtmle, so if they break, it won't immediately be apparent why. Nevertheless, I think the tests I've written so far are useful checks on the functions.

[2017-07-06 02:54] nhejazi commented on #8
Right -- the fact that we have such high coverage from just the two you put up is a great sign. Ideally, a unit test should tell you exactly what the error causing trouble is, so I can spend some time splitting them up into separate, smaller tests later. For now though, awesome that we've covered so much functionality with just those two larger calls.

[2017-07-06 02:56] benkeser commented on #8
Probably not worth the effort on your part to split those tests up. It'd be more annoying then me spending 5 minutes debugging if things break.

[2017-07-06 02:58] nhejazi commented on #8
Ok -- gotcha. Let's just leave things for now and revisit later if necessary.

[2017-07-06 03:15] benkeser commented on #8
Added another test that should boost the coverage. I'm going to call it a night. Things are looking good!

[2017-07-06 03:18] nhejazi commented on #8
Awesome! Thanks for taking care of this. We made quite a bit of progress today.

[2017-07-06 03:28] benkeser commented on #8
Couldn't go to bed on a commit with an error that I authored!

[2017-07-06 03:31] nhejazi commented on #8
Your commitment is astounding. Fixed now -- so, many thanks!

[2017-07-06 07:34] nhejazi commented on #13
In-development functionality has been removed by 6886fca on branch `master` and re-added (after fast-forwarding of branch) by 40c4990 on branch `develop`.

[2017-07-06 13:44] #13 closed, assigned to nhejazi, benkeser

[2017-07-06 13:46] benkeser commented on #8
The tests in tests/testthat/test-timepoints.R run locally on my machine, but fail on travis. @nhejazi , would you check whether you can get them to run on your machine?

[2017-07-06 14:38] nhejazi commented on #8
All tests are passing locally on my Ubuntu 14.04 as of 866154c. It looks like there was a failing Travis-CI build last night related to this (on 939c0c9), but appears fixed now.

__^ignore this for now, re-running tests...__

[2017-07-06 14:45] benkeser commented on #8
I've commented out the tests in test-timepoints.R to get rid of the errors. Try uncommenting and see.

[2017-07-06 14:47] nhejazi commented on #8
Yea, I realized that right after I wrote that comment -- waiting on local `devtools::check` right now.

[2017-07-06 14:50] nhejazi commented on #8
Output of `devtools::check` locally (on Ubuntu 14.04):
[code]

This matches the error from [this Travis-CI](https://travis-ci.org/benkeser/survtmle/jobs/250630056) build and [this Appveyor](https://ci.appveyor.com/project/benkeser/survtmle/build/1.0.97) build.

I'm not sure why it's passing on your end?

[2017-07-06 14:55] benkeser commented on #8
Not sure. I'll work on it.

[2017-07-06 14:57] nhejazi commented on #8
I'll try running it line-by-line in a little while to see whether I can catch it (in case you're not having luck finding it, fresh eyes might help...can be hard to debug code you wrote)

[2017-07-06 15:05] benkeser commented on #8
I can't get the error to reproduce on an Ubuntu machine either. Passes when I run locally with this session info:
[code]

[2017-07-06 17:34] nhejazi commented on #8
Ok, thanks for that. I'm taking a look at it now and will report back when I have a fix.

[2017-07-06 18:17] nhejazi commented on #8
Weird, `test-timepoints.R` runs perfectly fine by hand when I work through each section (as of commit 1787334), substituting `expect_equal` for `all.equal`...

Getting same error as before:

[code]

Here's the output of `sessionInfo`:

[code]

[2017-07-06 18:28] nhejazi commented on #8
Might be related... https://github.com/hadley/testthat/issues/86

Use of `Sys.setenv("R_TESTS" = "")` might fix this.

[2017-07-06 21:30] nhejazi commented on #12
`cmprsk::print.cuminc` for reference, copied from the [`cmprsk` package CRAN mirror on GitHub](https://github.com/cran/cmprsk):

[code]

[2017-07-06 22:50] nhejazi commented on #12
@benkeser -- I think you would have a quick answer to this, so here goes: Do we care about providing the full variance-covariance matrix at each timepoint in the print method for `tp.survtmle` objects? I ask because `cmprsk::cuminc` only the variance at given timepoints.

[2017-07-07 03:21] nhejazi commented on #12
@benkeser, assuming my above comment about only including variances (dropping covariances) was correct, then the `print.tp.survtmle` functionality has been completed as of commit f1d4123.

Minimal example:
[code]
[code]

[code]

[code]

[code]

__Clearly, the output of the `print.tp.survtmle` method now matches that of `print.cuminc` nearly exactly.__ Please try this out and close the issue if thi

[2017-07-07 04:10] nhejazi commented on #8
With nearly 90% coverage and builds passing on Travis-CI and Appveyor, looks like it's about time to close this.

[2017-07-07 04:10] #8 closed, assigned to nhejazi, benkeser

[2017-07-07 04:12] nhejazi commented on #5
__TODO:__

`plot.survtmle`:
If survtmle is called at a fixed timepoint, then return a plot with the treatment effect (option for additive trt = 1 - trt = 0 OR multiplicative trt = 1 / trt = 0) and confidence interval (option, default = TRUE) for each ftype. This would allow you to visually assess sieve effects. Could also add options for displaying p-values for hypothesis tests (trt effect for eac

[2017-07-07 14:10] benkeser commented on #12
Looks great. We're using different variance estimators than they are, so it's ok that the numbers are different.

[2017-07-07 14:10] #12 closed, assigned to nhejazi

[2017-07-07 14:10] benkeser commented on #5
Let's punt on this until we put out a separate sieve analysis package.

[2017-07-07 14:12] benkeser commented on #5
It'd be nice if the plot function didn't interpolate between points, i.e., in the working example we're really only estimating cum inc at integer values, but the plot draws linearly interpolates between those points. Would maybe be better if it was drawn as a step function, i.e., constant on (0,1], (1,2], etc...

[2017-07-07 16:04] nhejazi commented on #5
the simplest way to make the curves in the plot step functions is to use `geom_step` (instead of current use of `geom_line`)...here's the difference, using the example from `README.Rmd`:

__original plot (with interpolation):__
<img width="819" alt="screen shot 2017-07-07 at 9 00 09 am" src="https://user-images.githubusercontent.com/8527276/27966160-14d35682-62f3-11e7-9c51-e6ee45f9123c.png">

__ne

[2017-07-07 16:08] nhejazi opened #14 "sieve analysis additions"
In #5, we comment that some of the additional functionality specific to vaccine sieve analysis can be added later to this package or perhaps to a new package specifically tailored to facilitate sieve analysis (I would propose the name `sievetmle` for such a package)...

This note starts with a migration of several features specific to sieve analysis to this thread (so that separate threads, like #

[2017-07-07 18:06] benkeser commented on #5
Yep, I think the second one is what we'd like

[2017-07-07 20:04] nhejazi commented on #5
Ok, the second plot it is! Changes completed as of commit 91e4bc8.

I'm going to close this issue since the other plots we've discussed are specific to sieve analysis and will be implemented by the time we close #14. Feel free to re-open if this is incorrect.

[2017-07-07 20:04] #5 closed, assigned to nhejazi, benkeser

[2017-07-07 20:24] nhejazi commented on #7
@benkeser -- maybe change example so that `timepoints` does not throw warnings?

[2017-07-07 20:26] benkeser commented on #7
Should be fixed in 888c5798857ae703fcb407dbe7bdd825d94a147b

[2017-07-07 20:35] nhejazi commented on #7
I'm still getting the warnings from re-building the example after re-installing post- 888c579. Would you mind trying `Rscript -e "devtools::install_github('benkeser/survtmle')"`, followed by `make md` at the command line? This should reproduce what I'm seeing (with warnings).

[2017-07-07 21:33] benkeser commented on #7
Fixed and README updated in 113457663078f994549edd5417a90a97399df8ca

[2017-07-07 21:33] #7 closed, assigned to nhejazi, benkeser

[2017-07-07 21:52] nhejazi opened #15 "CRAN release"
Given the status of the codebase, I think we are nearing time for an initial CRAN release. If appropriate, we can begin working towards the guidelines provided in [this chapter](http://r-pkgs.had.co.nz/release.html) of Hadley's book. There should be relatively few changes we need to make to be ready for CRAN release.

__TODO:__
- [x] complete package vignette
- [x] re-format / clean up documentati

[2017-07-07 22:06] benkeser commented on #15
Agreed. Do you have time to head up the effort for the initial CRAN submission?

[2017-07-07 22:07] nhejazi commented on #15
Yes -- would be happy to. I can make all changes necessary to get the package ready for CRAN submission, but you'll have to actually pull the trigger (via `devtools::release()`), since you're the primary package author (they'll send you emails and such).

[2017-07-07 22:09] nhejazi commented on #15
__Update: pretty much good to go as of b45a0b6__. We basically just need to slap together a minimal vignette and we can submit.

[code]

[2017-07-11 02:02] nhejazi commented on #15
@benkeser -- the vignette has now been extensively updated as of 8ffbdda. Examples have been added based on the numerous examples that were provided with the documentation that was originally provided with the `survtmle` function. Feel free to edit as you see fit. See [here](https://benkeser.github.io/survtmle/articles/survtmle_basics.html) for the vignette in HTML.

Things that could still be add

[2017-07-13 17:33] #15 closed, assigned to nhejazi, benkeser

[2017-07-13 17:34] nhejazi commented on #14
This functionality will be migrated to a separate package to be considered an add-on to `survtmle`.

[2017-07-13 17:36] #14 closed, assigned to nhejazi, benkeser

[2017-07-14 20:36] benkeser opened #16 "faster GLMs with speedglm"
Adding `speedglm` to hazard-based estimation procedures (`estimateCensoring` and `estimateHazards`) may be beneficial to speed up run time. Oleg reports fairly frequent convergence errors with `speedglm`, so probably good to implement in using `try` as he did [here](https://github.com/osofr/gridisl/blob/master/R/ModelGLMsClass.R#L90-L103).

[2017-07-14 20:41] nhejazi commented on #16
last comment on [this SO thread](https://stackoverflow.com/questions/16284766/how-to-speed-up-glm-estimation-in-r) seems relevant

[2017-07-14 20:50] benkeser opened #17 "stratified estimator"
Adding in a way to compute stratified Kaplan-Meier-style estimator would also be a nice addition. The code currently can be hacked to do this as follows:
[code]
This example runs fine for `n <- 100` but not for `n <- 1000`. Changing the call to `glm` within `estimateCensoring` and `estimateHazards` to `family = gaussian()` allows larger sample sizes to run, albeit still somewhat slowly (e.g., ~ 1

[2017-07-14 20:55] benkeser commented on #16
Using `sparseMatrix` representation seems promising, especially if it speeds up glm fitting considerably.

[2017-07-14 21:05] benkeser commented on #16
`sparse.model.matrix` seems pretty slow, but `speedglm.wfit` with sparse matrix objects is very fast (even with `family = "binomial"`). We should be able to figure out a smarter way to get a sparse matrix representation without invoking `sparse.model.matrix`.

[2017-07-14 21:21] nhejazi commented on #16
Ok, good to know, so the problem now is that we want to generate a sparse design matrix very quickly, and then simply pass that to `speedglm.wfit`

[2017-07-14 21:26] nhejazi commented on #16
@benkeser, do you have a minimal working example that you've been playing with? I can do a bit of testing...also, maybe [this answer](https://stackoverflow.com/questions/10822150/faster-way-to-set-up-a-sparse-matrix-in-r) might be faster than calling `sparse.model.matrix`? There's also [this package](https://cran.r-project.org/web/packages/slam/slam.pdf), which seems relevant.

[2017-07-14 21:36] benkeser commented on #16
Here's an example (just gutting survtmle to get the relevant objects to play with)
[code]

[2017-07-17 23:09] nhejazi commented on #16
162f413 on branch `speedglm` implements a new wrapper function `fast_glm`, which should serve as a drop-in replacement for all uses of `glm` in the various `estimate...` functions.

`fast_glm` should be further fleshed out so that we can assess exactly to what degree we can speed up the various `glm` calls using `speedglm`...

Also, `fast_glm` currently leads to an error in compiling the package v

[2017-07-18 22:08] nhejazi commented on #16
29d0edb changes the new `fast_glm` function to default to using `speedglm`, but changes all instances of the wrapper being called to use the `glm` option. this avoids breaking changes. currently, use of `speedglm` creates weird errors when checking examples, including an LAPACK routine complaining about singular matrices...

[2017-07-19 16:41] nhejazi commented on #16
Some more thoughts on this @benkeser:
In almost every case where `glm` is called (with the notable exception of fitting the outcome regression `Qmod` in the function `estimateIteratedMean`), it is intended to perform logistic regression.

We can avoid some of the notational headache associated with use of the `speedglm` package by more directly using functions like [`fastLR`](https://rdrr.io/cran/

[2017-07-23 21:02] nhejazi commented on #16
Trying some naive benchmarking:

adapting the MWE/setup given by @benkeser above:
[code]

__Resources:__
* [SO: faster model matrices](https://stackoverflow.com/questions/31373710/r-fast-way-to-create-a-sparse-model-matrix)
* [SO: `glm` with model matrices in R](https://stackoverflow.com/questions/31373710/r-fast-way-to-create-a-sparse-model-matrix)

[2017-07-23 21:35] nhejazi commented on #16
__preliminary results, continuing from the above__

recall the time associated with creating a `model.matrix` object:
[code]

_`glm` with regular `model.matrix`_:
[code]

_`speedglm` with regular `model.matrix`_:
[code]

_using `fastLR` from the `RcppNumerical` package_:
[code]

[2017-07-23 23:21] nhejazi commented on #16
Finishing up this benchmarking experiment
[code]
Almost an order-of-magnitude speedup, just using `speedglm` naively...

[2017-07-24 00:19] nhejazi commented on #16
631c0d8 fixes the wrapper funciton `fast_glm`, allowing for `speedglm` to be invoked correctly, though this does not play well with `timepoints`. See #18 for details.

[2017-07-24 00:22] nhejazi opened #18 "use of speedglm breaks timepoints"
631c0d8 implemented fixes in the wrapper function `fast_glm`, which now allows `speedglm` to be invoked in the various `estimate...` functions as well as in `fluctuateIteratedMean`.

Unfortunately, this causes an error in `timepoints` -- in particular, `outList[[ct]] <- do.call("survtmle", args = funOpts)` [line 112 in branch `speedglm`] contributes to the failure.

The exact version of the packag

[2017-07-24 22:53] nhejazi commented on #18
__update__ -- as of 5428884, we have the following errors:

using the above example, when `method = "hazard"`:
[code]

...and when `method = "mean"`:
[code]
This error arises from mis-treatment of the `t` argument to `estimateIteratedMean`

[2017-07-24 22:57] benkeser commented on #18
The latter error is fixed by removing "t" from glm.ftime (iterated mean-based TMLE can't smooth over time).

The first one still runs, correct? Just throws a warning about lack of convergence in targeting step? What is fit$meanIC?

[2017-07-24 23:17] nhejazi commented on #18
Ok, so I was just using the method incorrectly in the `method = "mean"` case. Removing "t" from the formula corrects the breaking error, but `speedglm` still fails within the `tryCatch` in `fast_glm`.

for the `method = "hazard"` case
[code]
I'm not sure what to make of this? I think there might still be an underlying problem, since `speedglm` fails under repeated simulations...

[2017-07-24 23:19] benkeser commented on #18
What happens if you increase sample size?

[2017-07-24 23:20] nhejazi commented on #18
Tried it with up to n = 1000 (actually the output above is from that case). Error appears to be consistent.

[2017-07-24 23:28] benkeser commented on #18
And it does not error on the same example from a previous build that calls `glm` directly (not through the new wrapper)?

[2017-07-24 23:30] nhejazi commented on #18
Just tried it out, apparently this example also causes the same warning on the current stable version on `master` (which calls `glm` without the wrapper):
[code]
The example producing this differs slightly from the one used in the results above. Having tried it, the exact code that appears directly above produces the same exact output whether using the `master` or `speedglm` builds of the package.

[2017-07-24 23:40] benkeser commented on #18
I'm looking into it.

[2017-07-24 23:58] benkeser commented on #18
Yeah, something is broken, but I can't tell what yet.

[2017-07-25 00:00] benkeser commented on #18
Did these warnings crop up when we compiled the vignette for CRAN submission? Just trying to understand when they were introduced so I know where to start looking. I don't recall such warnings popping up immediately before CRAN submission.

[2017-07-25 07:01] nhejazi commented on #18
These definitely didn't occur during the CRAN submission process. The errors/warnings arose after ace4c0a and are upper bounded by the latest commit on branch `speedglm`. In case you haven't used it before, this is a perfect time to try out [`git bisect`](https://git-scm.com/docs/git-bisect) (apologies if you're already familiar with this). I'll give it a go on my end in the morning.

[2017-07-26 08:07] nhejazi commented on #18
As of ad656bc, there has been a substantial degree of tweaking of the core code base to allow `speedglm` to work properly. Still, a few errors remain
[code]

[2017-07-26 19:36] nhejazi commented on #18
After resolving an error introduced in `master` (probably best to avoid re-organizing the code base needlessly in the future), the remaining diffs between `master` and `speedglm` should all be contributing to getting the wrapper `fast_glm` working...

The remaining errors produced by `devtools::check()` are as follows:
[code]

[2017-07-27 02:25] nhejazi commented on #18
@benkeser -- maybe you can weigh in on this? Using the [example in the documentation for `plot.tp.survtmle`](https://github.com/benkeser/survtmle/blob/speedglm/R/plots.R), the error above is isolated to the call `outList[[ct]] <- do.call("survtmle", args = funOpts)` (line 112, branch `speedglm`) in the function `timepoints`. Information provided by `traceback` is as follows:
[code]

[2017-07-27 03:14] benkeser commented on #18
76a1a767dc9d7afcdc172a4540719e2409c1d0cb seems to fix the `timepoints` bug

[2017-07-27 20:56] nhejazi commented on #18
Indeed, it seems the fitted model objects were getting passed to `speedglm` in the `do.call` part of `timepoints` -- I had implemented a similar fix in a commit c89f859 that remained un-pushed before your fix in 76a1a76.

[2017-07-28 00:21] nhejazi commented on #18
Our various fixes have been merged as of 4185d1a. All checks and tests on branch `speedglm` are now passing.

[2017-07-28 00:34] nhejazi commented on #18
Elementary benchmarking of `master` and `speedglm` using the following example:
[code]

__Result from `master`:__
[code]

__Result from `speedglm`:__
[code]

[2017-07-28 00:35] nhejazi commented on #16
Elementary benchmarking of `master` and `speedglm` using the following example:
[code]

__Result from `master`:__
[code]

__Result from `speedglm`:__
[code]

[2017-07-28 00:36] nhejazi commented on #18
Closing this since use of `speedglm` is now functional on the eponymous branch.

[2017-07-28 00:36] #18 closed, assigned to nhejazi, benkeser

[2017-08-01 21:39] nhejazi commented on #16
Further benchmarking appears to indicate that `speedglm` does afford some timing advantages over standard `glm` when sample sizes are larger (e.g., n = 1000+ v. n = 100). See the discussion and Jupyter notebooks in #19 for a more thorough benchmarking analysis.

[2017-08-02 14:11] benkeser opened #20 "Implementing new SuperLearner method"
One idea to think about that would be a really valuable software addition (i.e., it's an idea that's been around for a long time, but as far as I know has never been implemented): it would be great to write our own super learner method for the hazard-based estimator that uses a(n IPCW?) loss function based on the conditional cumulative incidence function rather than the hazard-based log-likelihood

[2017-08-02 14:15] benkeser opened #21 "CV-TMLE"
Another nice extension that would be straightforward would be adding CV-TMLE to the package. I've been working on the [`drtmle`](http://github.com/benkeser/drtmle) package, which implements TMLE estimators with doubly-robust inference. I set up the structure of that package very similarly to `survtmle` with calls to `estimate` functions and `fluctuate` functions. I found that adding wrappers aroun

[2017-08-11 14:50] nhejazi commented on #16
`speedglm` currently fails in both `estimateTreatment` and `estimateCensoring`.

Here's the relevant error and `traceback()` from a call to `speedglm` in `estimateCensoring`:
[code]

[2017-08-11 14:57] benkeser commented on #16
The error means R is looking for an object `site`, which makes me think we're missing quotations somewhere. What does `reg_form` and `head(dat)` look like?

[2017-08-11 15:00] benkeser commented on #16
Is `dat` a `data.frame` with a column named `site`? If so, it seems like `model.frame` should be able to find it...

[2017-08-11 15:03] nhejazi commented on #16
sorry, I should have added context for that...
The example comes from the 7th comment on this thread, where you gave an example to try out

[code]

[2017-08-11 15:09] benkeser commented on #16
I'm getting a different error when I run that code with the most recent commit on the speedglm branch.

[2017-08-11 15:09] nhejazi commented on #16
The plot thickens...apparently, the following (adapted from code in `stremr`) works, but I've not yet confirmed that the returned object meets our needs:
[code]

update, adding a mwe @benkeser, hopefully this returns the same error on your end:
[code]

[2017-08-11 15:12] benkeser commented on #16
Interesting... I've gotten the error to reproduce and am looking further into the guts of `speedlm`. The Cholesky decomposition is probably fine for our purposes, if my first-year-of-grad-school memories serve me right...

[2017-08-11 15:14] nhejazi commented on #16
Ok, so on the page re: errors. I have a feeling that it's the arguments `trace` and `fitted` that might be causing trouble

[2017-08-11 15:16] benkeser commented on #16
At first blush, it seems to be that `speedlm` does not play nicely with formulas input with `I()`. It seems to be trying to do something stupid to get fitted values. Removing `fitted = TRUE` seems to fix.

[2017-08-11 15:18] nhejazi commented on #16
Ok, thanks for digging into that and confirming. If I recall, `fitted = TRUE` was added because it allows us to use the model to predict later ~~(vaguely, I remember something about `speedglm` lacking a proper `predict.speedglm` method...)~~ <- I was wrong

[2017-08-11 15:18] benkeser commented on #16
If `fitted = TRUE`, `speedlm` calls `predict.speedlm`, which tries to run this line:

[code]

but `newdata` is a `data.frame` that was output by a previous call to `model.frame` and thus is not compatible with `Terms`.

Seems like a bug in `speedlm`. Is there a reason to return the fitted values in a single call to `speedlm`?

[2017-08-11 15:20] benkeser commented on #16
Based on the help file, it seems that fitted would just return values for dataList[[1]][include,], but we'd still need to predict on new data (e.g., `dataList[[i]]` for i = 1,...,`length(dataList)`).

[2017-08-11 15:21] nhejazi commented on #16
Alright, good to know that this is the source of the error. Seems odd that they wouldn't have caught a general situation like that it a test...

I don't recall offhand why I had set `fitted = TRUE`; I'll investigate further.

__update:__ Not that we needed it, but I think this pretty much confirms that `fitted = TRUE` (and specifically the line you highlighted above @benkeser) is the culprit
[code

[2017-08-11 15:23] benkeser commented on #16
This seems to work:
[code]

[2017-08-11 15:25] benkeser commented on #16
I think we can go with `method = "Cholesky"` too.

From `?speedglm:::control`:
The "Cholesky" method is faster than "eigen" and does not use tolerance, but the former seems to be more stable for opportune tolerance values.

We shouldn't be running into nearly singular matrices in these applications, so would be OK to go with the faster check for singularity.

[2017-08-11 15:25] nhejazi commented on #16
Makes sense. I'll look into changing `fast_glm` and its usage to incorporate use of the `predict` method for these classes (I can't for the life of me now remember why I had `fitted = TRUE` in the first place). Sounds good, `cholesky` it is.

[2017-08-11 15:29] nhejazi commented on #16
Just curious -- given the size of the model formula, I'd expect the actual model matrix to be spare. Do we have any guarantee that this might generally be true?

If so, it does save us time (only a bit in this example, but might be nice generally):
[code]

[2017-08-11 15:32] benkeser commented on #16
For the applications that I have in mind, yes, the matrix will generally be sparse.

[2017-08-11 16:40] nhejazi commented on #16
Current version of `fast_glm` (on branch `speedglm`) now works! It's notably faster than `glm` even on small data sets (n = 100); benchmarks in progress for larger data sets (n = 1000).

No more errors in `estimateCensoring` or `estimateHazards`, but there is a new (yet to be investigated) error in `estimateTreatment` now...

[2017-08-17 14:23] benkeser opened #22 "MSM"
Implement TMLE for parameter of a marginal structural model to accommodate interactions and treatments with discrete levels.

[2017-08-20 21:18] nhejazi commented on #16
3309d0b resolves the error in `estimateTreatment`, which was caused by specifying `sparse = TRUE` in a call to `speedglm::speedglm`. Obviously, the design matrix is not sparse when fitting an intercept model, which is all that `estimateTreatment` appears to do.

Closing this since #19 is ready to be merged. Feel free to re-open if there is more to be done here.

[2017-08-20 21:19] #16 closed, assigned to nhejazi, benkeser

[2017-08-23 23:11] nhejazi commented on #17
We have the `speedglm` functionality working now, but did we maybe want to write a wrapper for the main `survtmle` function to allow computation of the stratified estimator be more straightforward?

[2017-08-23 23:28] benkeser commented on #17
Why don't we not worry about it and include an example in the vignette of how to do it with direct calls to hazard_tmle (or mean_tmle, which I suspect may be faster).

[2017-08-24 05:42] nhejazi commented on #17
Sure, sounds good to me. I'll just re-open to remind us to keep it on the radar in terms of adding this to the vignette soon enough.

[2017-08-24 15:22] benkeser opened #23 "speedglm warnings"
With the new pull request merged, the vignette compiles with a bunch of warnings about `speedglm` breaking. Two questions, @nhejazi,
1. Is that just `speedglm` breaking internally or are we making a mistake in how it's called that breaks it?
2. Would it be better to suppress those warnings? I'm worried that the warnings will give people the impression that something is wrong.

[2017-08-24 15:49] nhejazi commented on #23
Are the warnings of the form `'speedglm' ran into an error in [calling_fun]. 'glm' will be used instead`, or something else entirely?

[2017-08-24 15:52] benkeser commented on #23
See [the vignette](https://benkeser.github.io/survtmle/articles/survtmle_intro.html) examples.

[2017-08-24 16:07] nhejazi commented on #23
Got it -- I think I have an idea as to the cause of this.

[2017-08-24 18:14] nhejazi commented on #23
The `pkgdown` site was built using an old version (v.1.0.1.2) of the package. Using the current `master` branch (v.1.0.2.0) fixes the `speedglm` errors. 71f10a6 fixes this -- feel free to close this issue.

That said, a single error does persist:
[code]
...but this seems more related to the structure of the first example in the vignette than the `speedglm` implementation.

[2017-08-24 18:18] nhejazi commented on #23
Scratch that -- there's something wrong with how `speedglm` interacts with `SuperLearner`. This will take more digging.

[2017-08-24 20:05] nhejazi commented on #23
Notes from preliminary investigation:
* case 1: `method = "mean"`: error in `speedglm` arises in `fluctuateIteratedMean` (to create the object `wideDataList`) and is displayed 6 times due to loop over `seq_len(nrow(timeAndType))`, starting in line 247 of the function `mean_tmle`

The above is the only case which causes the observed error.

@benkeser -- I would propose a few solutions:
(1) We avoid

[2017-08-24 20:13] benkeser commented on #23
`fluctuateIteratedMean` could always call `glm` and never `speedglm`. Alternatively, would suggest checking that this isn't a `sparseMatrix` thing. The glm that we're fitting in `fluctuateIteratedMean` will only have a few covariates (maybe just one? I don't remember how I'm doing the fluctuation for multiple treatment levels) that won't be sparse.

[2017-08-24 20:22] nhejazi commented on #23
The error that causes the `speedglm` call to fail is the following: `Error in sqrt(w) * X : non-conformable arrays`.

Also, the failure is not related to `sparseMatrix` -- setting `sparse = FALSE` in `speedglm` causes the same error above.

And here's the `traceback()`:
<img width="497" alt="screen shot 2017-08-24 at 1 26 04 pm" src="https://user-images.githubusercontent.com/8527276/29687015-dae34

[2017-08-24 20:30] nhejazi commented on #23
SO posts about similar errors indicate that we're doing some bad linear algebra (dimensions of objects being operated upon not matching up correctly). Perhaps we're being saved by some kind of safety mechanisms built into `glm` that are absent from `speedglm`?

Personally, I'd like to fix this by simply substituting `fast_glm` for `glm` in `fluctuateIteratedMean`, since it's just a single use of G

[2017-08-24 20:41] benkeser commented on #23
Is `speedglm` upset about the lack of intercept in the fluctuation model fit?

[2017-08-24 20:42] benkeser commented on #23
Can you debug `speedglm.wfit` and confirm that the `intercept` option is being passed in as `FALSE`?

[2017-08-24 20:45] nhejazi commented on #23
Sure -- I'll look into it and report back.

I'm also just testing the solution of switching `fast_glm` out for `glm` in `fluctuateIteratedMean`.

[2017-08-24 21:11] benkeser commented on #23
I guess I have no issue with just using `glm`. That's definitely the easiest fix and, really, I doubt we're saving all that much time with `speedglm` in this particular function.

[2017-08-24 21:17] nhejazi commented on #23
Ok, I'm just going to implement the `speedglm` to `glm` fix and save a bit of time then. I definitely agree that we're not saving computational time by using `speedglm` here.

[2017-08-24 21:19] nhejazi commented on #23
Closing this since everything appears fixed by e3ee297.

[2017-08-24 21:19] #23 closed, assigned to nhejazi

[2017-08-24 21:22] benkeser commented on #23
Thanks, Nima!

[2017-08-26 05:35] nhejazi commented on #21
Implementation should be rather straightforward. It may perhaps be worth using [`origami`](https://github.com/jeremyrcoyle/origami) when creating options for parallelization (rather than `foreach`), allowing access to [`future`](https://github.com/HenrikBengtsson/future)s.

[2017-08-31 13:10] benkeser opened #24 "Missing treatment"
Add functionality for missing treatment assignment.

[2017-08-31 13:13] benkeser opened #25 "Missing ftype"
Add functionality for missing `ftype`

[2018-01-08 20:47] nhejazi opened #27 "Dependency problem with tidyr::gather v0.8.0"
As of the newest upcoming release of [`tidyr`](https://github.com/tidyverse/tidyr), changes have been made to the function `gather` that cause problems in the plot method `plot.tp.survtmle`. Specifically, changes in the behavior of `gather` cause a data frame of an inappropriate length to be returned, which now requires augmenting in order to work reasonably with `plot.tp.survtmle`.

[2018-02-03 02:36] #27 closed, assigned to nhejazi

[2018-02-04 05:35] nhejazi opened #30 "Confidence intervals should respect bounds"
Construction of Wald-style confidence intervals (as done in `confint.survtmle`) may require some adjustment, as it is possible for the routine to produce intervals that cross zero. This appears to be in conflict with the concept/definition of cumulative incidence, which is lower bounded by zero (right? @benkeser). In the `README` example, this does not appear to be a problem for `confint.survtmle`

[2018-02-05 14:57] benkeser commented on #30
The easiest solution is to construct confidence intervals on the logit scale and back-transform, i.e.,
$ expit(logit(\hat{F}) \pm 1.96 * \hat{se}(logit(\hat{F}))) $ ,
where $\hat{se}(logit(\hat{F}))$ is the estimated standard error of $logit(\hat{F})$, computed using the delta method. There may be an example of this in the `drtmle` vignette -- I can't remember.

[2018-02-14 06:42] nhejazi commented on #30
Looks like there's some explanation and an implementation here in the `drtmle` vignette: https://benkeser.github.io/drtmle/articles/using_drtmle.html#confidence-intervals. Would be best to complete the initial confidence interval estimation implementation as well as extensions of this implementation for arbitrary contrasts ASAP, so as to avoid holding up a CRAN re-release.

[2018-02-23 19:53] nhejazi opened #31 "add constrasts for confidence intervals"
as in title, see `drtmle` for examples / sample code

[2018-02-23 19:54] nhejazi opened #32 "add Wald test functionality"
as in title, see `drtmle` for examples / sample code

[2018-02-26 23:49] nhejazi commented on #32
https://github.com/benkeser/drtmle/blob/master/R/test.R

[2018-02-26 23:50] nhejazi commented on #31
https://github.com/benkeser/drtmle/blob/master/R/confint.R

[2018-09-12 01:00] ernestatistics opened #33 "survtmle() crashes when specifying trtOfInterest"
## specifically, the function getHazardInfluenceCurve() breaks inside the routine.

## example:
library(survtmle)
## simulate data
n <- 100
t_0 <- 10
set.seed(1)
W <- data.frame(W1 = runif(n), W2 = rbinom(n, 1, 0.5))
A <- rbinom(n, 1, 0.5)
T <- rgeom(n,plogis(-4 + W$W1 * W$W2 - A)) + 1
C <- rgeom(n, plogis(-6 + W$W1)) + 1
ftime <- pmin(T, C)
ftype <- as.numeric(ftime == T)

## apply survtmle for e

[2018-09-12 13:48] #33 closed, assigned to nobody

[2018-11-19 02:20] ernestatistics opened #34 "Run survtmle with one treatment arm"
I am trying to estimate cumulative incidence in a survival setting without any treatment arms. Would it be possible to run survtmle without having to specify a treatment variable? Or what would be the best way to approach this?

Thanks,

Ernesto

[2018-11-19 17:40] benkeser commented on #34
Hmm, do you need to do super learning or are glm's OK?

If GLM's are OK, then you could just include a dummy column for `trt` (e.g., all 1's) set `trtOfInterest = 1` and then omit `trt` from your `glm` formula. Seems like that might work.

Super learning may be more complicated. But maybe not. One could include a dummy column for `trt`, set `trtOfInterest` and then write a screening wrapper for `S

[2018-11-19 19:16] ernestatistics commented on #34
Thanks David, we would like to do super learning. I will try both approaches and let you know how it goes.

[2018-11-28 02:50] ernestatistics opened #36 "Dimension error generated when creating DataList"
Following up on the question in the one treatment case, I am creating a mock data set with one variable that has treatment = 0 and the rest has treatment = 1.

set.seed(1)
## simulate data
n <- 1000
t_0 <- 1
W <- data.frame(W1 = runif(n), W2 = rbinom(n, 1, 0.5))
x <- 1
A <- c(rep(0, x), rep(1, n-x))
ftype <- rbinom(n, size = 1, prob = 0.2)
ftime <- round(runif(n, 0.01, 3.15), 2)

Then when we call

[2019-04-16 12:36] benkeser commented on #34
Any follow up on this?

[2019-04-16 13:19] benkeser commented on #36
I looked into this a little bit and it's a complicated issue to work out.

I would suggest instead removing `trtOfInterest = 1` from the call and making sure that you set `ftime = 1` and `ftype = 1` for the observation that you have with `trtOfInterest = 0`. It runs in that case.

[2019-04-16 13:19] #36 closed, assigned to nobody

[2019-04-18 23:21] ernestatistics commented on #36
Yes, using those options worked for my application. Thanks David!

[2019-11-27 10:29] kathoffman opened #38 "Feature Request: control CV folds"
Adding in a parameter to control SuperLearner's CV folds in the `survtmle()` function would be helpful. Thanks for considering this change @benkeser and @nhejazi!

[2019-11-28 03:03] nhejazi commented on #38
Thanks for requesting this. #39 should address this concern. I'll leave it to @benkeser to merge.

[2019-11-28 15:27] #38 closed, assigned to nhejazi

[2019-11-28 15:29] benkeser commented on #34
Closing for now. Can reopen if I hear back from you @ernesto-up

[2019-11-28 15:29] #34 closed, assigned to nobody

[2020-02-22 03:29] benkeser opened #40 "returning calls"
`match.call` will return whole fitted objects when pre-fitted super learners are passed in. This leads to very inefficient memory use.

[2020-05-26 03:13] adam-s-elder opened #41 "Observation Weights"
For one of the projects I am doing I was planning on using your package for one of my analyses. However, observations weights (like the weights argument of the glm function) are not yet supported.  I was wondering if it would be possible to add this functionality to your package.

Thanks so much for your help!

[2020-05-26 20:02] benkeser commented on #41
Thanks for the comment.

Adding weights that are known or can be estimated using nonparametric maximum likelihood would be a straightforward addition. If weights are estimated (esp. nonparametrically) using a working model, it'd be a bit more of an undertaking.

@nhejazi How bored are you during quarantine? Any interest in tackling?

[2020-05-26 23:42] adam-s-elder commented on #41
Thanks for the quick reply!  Both are certainly useful.  For me, the weights would be known.

[2020-05-28 19:14] nhejazi commented on #41
Sounds like an interesting addition; thanks for the request @Shmelder. I'm happy to look into this @benkeser.

[2020-05-29 20:03] adam-s-elder commented on #41
Thank you!

[2020-06-07 04:36] nhejazi commented on #40
Should be resolved by #42

[2020-06-07 04:36] #40 closed, assigned to benkeser

[2020-11-16 15:17] RobinDenz1 opened #44 "Return maxIter in output object"
It would be nice to see how many iterations the algorithm needed to converge. Could you maybe add this information to the output object? Thank you in advance.

[2020-11-16 16:14] benkeser commented on #44
I assume you mean for situations when `method = "hazard"`? And I guess you'd want the actual number of iterations taken (which could be less than `maxIter`)?

[2020-11-16 17:46] RobinDenz1 commented on #44
I am sorry for my vague formulation. Yes that is both exactly what I wanted to say.

[2021-10-11 00:42] sgruber65 opened #45 "question about estimated variance"
I ran the first example in the R package on CRAN (v1.1.1) 1000 times, and kept track of the estimates and variances returned each time.  The empirical variance of each treatment-specific mean was (.0037, .0040), respectively, while the mean of the variance esimates was (0.0029, 0.0012), (elements [1,1] and [2,2] in the covariance matrix).  The first one is maybe not off by too much, but the second

[2021-10-11 02:17] benkeser commented on #45
Thanks for the report. I’ll look into it a bit more closely in the coming week. Off the top of my head it looks like it’s just a highly inconsiderate example. Not clear that the sequential outcome regressions nor censoring should necessarily approximate the truth. Accordingly it’s not clear that the se’s should be correct. I’m essentially just generating *some* data and running *some* code. Probab

[2022-01-05 01:09] marphia opened #50 "ATT"
Do you have any plans to add ATT estimand to the package? In context of evaluating a new drug in a single arm clinical study compared against external control, the ATT estimand would be way more interesting and relevant than ATE. Thank you. - Martin Ho

[2022-02-20 23:40] sgruber65 opened #51 "timepoints() fails when SL is not used to model treatment"
Hi,
When I model treatment using glm, a subsequent call to timepoints() fails.  The error message is:

Here is a reproducible example straight from the survtmle help file:
[code]
But if instead we specify SL.trt = "SL.glm", it works fine.
[code]
One clue: this line in the `checkInputs` function
 `tglm <- any(class(object$trtMod[[1]]) %in% c("glm", "speedglm"))`
returns FALSE if we specify glm.trt,